.icon{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    h1{
        margin-top: -5px;
    }
    }
    
    .btn-sub{
        width: 70%;
        margin-left: 50px;
        margin-top: 10px;
    }