<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title style="display: inline-block;">Profile</ion-title>
    <a href="\home" class="out"><ion-icon name="power-outline" class="ion-float-end  " size="large"></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="person-circle-outline" class="avatar"></ion-icon>
  
    <ion-list>
      <ion-item>
    <ion-label position="fixed">Name:</ion-label>
    <p> John Lloyd Mariano</p>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Course:</ion-label>
    <p> BSIT </p>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Year:</ion-label>
    <p> 3rd Year</p>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">School:</ion-label>
    <p> Gordon College </p>
  </ion-item>

  </ion-list>
  <ion-button (click)="Gotocss()" color="secondary" class="btn-sub">CCS</ion-button>
 
</ion-content>
