.avatar{
    font-size: 100px;
    color: #00BFFF;
    margin-left: 35%;
    margin-top: 10%;
}

.out:hover{
    color: red;
}
form{
    margin-top: 10%;
}
ion-item{
    font-size: 23px;
}
ion-label{
    margin-top: 2%;
}
ion-button{
    margin-top: 10%;
   margin-left: 40%;
}